asgiref==3.8.1
attrs==24.3.0
bleach==6.2.0
dj-database-url==2.2.0
Django==5.1.4
django-cors-headers==4.6.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.1
django-ratelimit==4.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.1
drf-spectacular==0.28.0
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
packaging==24.1
Pillow==9.5.0
psycopg2==2.9.10
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.22.3
setuptools==75.6.0
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
vulture==2.14
webencodings==0.5.1
whitenoise==6.6.0
